<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MainServiceSoap" />
        <binding name="NodeServiceSoap" />
        <binding name="KeepServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cocoin.info/MainService/MainService.asmx" binding="basicHttpBinding" bindingConfiguration="MainServiceSoap" contract="MainServiceReference.MainServiceSoap" name="MainServiceSoap" />
      <endpoint address="http://cocoin.info/NodeService/NodeService.asmx" binding="basicHttpBinding" bindingConfiguration="NodeServiceSoap" contract="NodeServiceReference.NodeServiceSoap" name="NodeServiceSoap" />
      <endpoint address="http://cocoin.info/keepService/keepService.asmx" binding="basicHttpBinding" bindingConfiguration="KeepServiceSoap" contract="KeepServiceReference.KeepServiceSoap" name="KeepServiceSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="stockdbaEntitiesLite" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=J:\PartTime\Code\MainService\ServiceControl\stockdba.db;Journal Mode=Off;Synchronous=Off;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>